<main class="main container">
<h2 class="main__about-title">О нас</h2>
<nav class="main__navigation navigation">
    <ul class="navigation__menu">
        <li class="menu__item d-inline"><a class="menu__itemlink" href="#main_information">Основная информация<object type="image/svg+xml" data="img/arrow-menu.svg"></object></a></li>
        <li class="menu__item d-inline"><a class="menu__itemlink" href="#news">Новости<object type="image/svg+xml" data="img/arrow-menu.svg"></object></a></li>
    </ul>
</nav>
<section class="section-about" id="about">
<p class="text text-selection">
    Селекция бренда, анализируя результаты рекламной кампании, осмысленно масштабирует SWOT-анализ. Перераспределение бюджета, как следует из вышесказанного, переворачивает коллективный контент. Поэтому управление брендом искажает социометрический ребрендинг:
</p>
<ul class="text text-rebranding">
    <li class="text text-rebranding__item">Управление брендом как искажение социометрического поиска</li>
    <li class="text text-rebranding__item">Селекция бренда, анализируя результаты рекламной кампании бюджета как его основа</li>
    <li class="text text-rebranding__item socio">Поэтому управление брендом искажает социометрический ребрендинг
        <ul class="text text-sociorebranding"> 
            <li class="text text-rebranding__item text-sociorebranding__item">Поэтому управление брендом искажает социометрический ребрендинг</li>
            <li class="text text-rebranding__item text-sociorebranding__item">Селекция бренда, анализируя результаты рекламной кампании</li>
        </ul>
    </li>
    <li class="text text-rebranding__item">Диверсификация бизнеса, на первый взгляд, изменяет рекламный макет, работая над проектом.</li>
</ul>
<p class="text text-strategy">Можно предположить, что изменение глобальной стратегии поддерживает экспериментальный метод изучения рынка. Традиционный канал стабилизирует product placement, осознавая социальную ответственность бизнеса. По сути, комплексный анализ ситуации довольно неоднозначен.</p>
 <div class="about-slider swiper-container">
 <div class="about-slider__wrapper swiper-wrapper">
        <div class="about-slider__slide slide swiper-slide" v-for="(aboutItem, index) in aboutList">
            <img class="slide__image figure-img img-fluid d-block" :src="aboutItem.image"
            alt="">
        </div> 
</div>
</div>
<span class="slider__position">1 / 15</span>
<p class="slide__caption d-inline">Подпись к блоку может быть опциональной. Можно вводить различные сноски и ссылки для блоков с фотографиями и видео</p>
<button class="figure-about__prevbutton d-inline"><object type="image/svg+xml" data="img/arrow-slider-left.svg"></object></button>
<button class="figure-about__nextbutton d-inline"><object type="image/svg+xml" data="img/arrow-slider-right.svg"></object></button>
<p class="text text-aboutchangestrategy">Можно предположить, что изменение глобальной стратегии поддерживает экспериментальный метод изучения рынка. Традиционный канал стабилизирует product placement, осознавая социальную ответственность бизнеса. По сути, комплексный анализ ситуации довольно неоднозначен.</p>
<blockquote class="quote-block">
    <p class="text quote-block__text">У группы «Метро» огромный опыт в строительстве, помимо жилья мы занимались инфраструктурными, промышленными, социальными объектами. Компания выступала генеральным подрядчиком строительства «ЭкспоФорума», Депо «Южное», также мы строили «Музей железных дорог России». Наша Компания обладает всеми необходимыми ресурсами.</p>
    <span class="text quote-block__author d-block">Геннадий Волковский</span>
    <span class="text quote-block__position d-block">Генеральный директор компании “Метро”</span>
</blockquote>
<p class="text text-prize">В 2018 году компания удостоилась главной архитектурной премии Европы — European Prize for Architecture. Знатоки архитектуры считают нашу компанию мастером выверенных фасадов.</p>
</section>
<div class="advantages d-flex justify-content-between" id="advantages" >
    <div v-for="advantage in advantagesList" class="advantages__item d-inline">
        <object class="advantage__button d-block" type="image/svg+xml" data="img/plus-open.svg"></object>
        <span class="text advantage__title d-block">{{advantage.title}}</span>
        <span class="text advantage__subtitle d-block">{{advantage.subtitle}}</span>
        <p class="text advantage__text d-block">{{advantage.text}}</p>
    </div>
</div>
<section class="section-news" id="news">
<h3 class="section-news__title">Новости</h3>
<nav class="section-news__navigation navigation">
<div class="filter d-inline">
<select class="filter-year" v-model="selectedYear">
    <option class="filter-year__title" value="">Все годы</option>
    <option class="filter-year__option" v-for="year in years" :value="year">{{ year }} год</option>
</select>
</div>
<div class="filter d-inline">
    <select class="filter-month" v-model="selectedMonth">
        <option class="filter-month__title" value="">Все месяцы</option>
        <option class="filter-month__month" v-for="month in months" :value="month">{{ month }}</option>
    </select>
</div>
</nav>
    <div class="section-news__news">
        <article class="section-news__newsitem newsitem" v-for="(newsItem, index) in filteredNewsList">
            <img class="newsitem__image" src="/" alt="">
            <h4 class="newsitem__title">{{newsItem.title}}</h4>
            <p class="text newsitem__text">{{newsItem.text}}</p>
            <datetime class="newsitem__date" :datetime="newsItem.date">{{newsItem.date}}</datetime>
        </article>
    </div>
    <button class="section-news__loadmore-button">Загрузить ещё</button>
</section>
</main>