@import "~swiper/swiper";

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

@function colsize($workAreasize, $colgap, $colamount) {
  @return rem(( $workAreasize - ($colgap * ($colamount - 1)) ) / $colamount);
}

$root-font-size: 16px;

$padding: 15px*2;
$radius: rem(100px);

$text-and-icons_dark: #000;
$text-and-icons_light: #fff;
$header: #333;
$controls-and-nav: #ff6c6c;
$controls_hover: rgba(255, 108, 108, 0.75);
$nav-and-titles_hover: #ff6c6c;
$phone-back: #01576c;
$phone-back_hover: rgba(1, 87, 108, 0.75);
$language-back: #99bcc4;
$language-back_hover: #b3cdd3;
$marker: #01576c;

$workArea1440: 988px;
$colgap: 20px;
$colamount: 12;

$currentWorkArea: $workArea1440;

@font-face {
  font-family: 'noto_sansbold';
  src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'), url('../fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sanslight';
  src: url('../fonts/notosans-light-webfont.woff2') format('woff2'), url('../fonts/notosans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'), url('../fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sanssemibold';
  src: url('../fonts/notosans-semibold-webfont.woff2') format('woff2'), url('../fonts/notosans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

::selection {
  background: $controls_hover;
  color: white;
}

html {
  background-color: white !important;
}

body {
  margin: 0;
  background-color: white;
}

.container {
  max-width: rem(988px);
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, colsize($currentWorkArea, $colgap, $colamount));
  column-gap: rem($colgap);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(40px);
  font-family: 'noto_sansbold', sans-serif;
  font-size: rem(22px);
  line-height: rem(24px);
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  box-sizing: border-box;
  z-index: 999;
}

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:visited:hover,
.button:visited:active,
.button:visited:focus {
  text-decoration: none;
  outline: none;
}

.button__iconwrapper {
  display: inline-block;
}

.header__hamburger-button .button__iconwrapper {
  position: relative;
  top: -1px;
}

.header__hamburger-button {
  position: relative;
  background: #ff6c6c;
  border: none;
  border-radius: rem(100px);
}

.icon {
  position: relative;
  z-index: -1;
}

.header__title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.header__logo {
  position: relative;
  top: 5px;
  left: 44px;
}

.mobile .header__logo {
  display: none;
}

.desktop .header__logo_mini,
.tablet .header__logo_mini {
  display: none;
}

.header__additional-buttons {
  display: flex;
  flex-basis: rem(150px);
  justify-content: space-between;
}

.header__hamburger-button,
.additional-buttons__language-button,
.additional-buttons__phone-button {
  width: rem(60px);
  height: rem(60px);
}

.header__hamburger-button:hover {
  background-color: $controls_hover;
}

.additional-buttons__language-button {
  font-family: 'noto_sansbold', sans-serif;
  font-size: rem(22px);
  line-height: rem(24px);
  letter-spacing: 0.01em;
  background: $language-back;
  border: none;
  border-radius: rem(100px);
  color: $text-and-icons_light;
}

.additional-buttons__language-button:hover {
  background-color: $language-back_hover;
}

.additional-buttons__phone-button {
  position: relative;
  background: $phone-back;
  border: none;
  border-radius: rem(100px);
}

.additional-buttons__phone-button:hover {
  background-color: $phone-back_hover;
}

.phone-button__icon {
  position: absolute;
  left: rem(20px);
  right: rem(20px);
  top: rem(20px);
  bottom: rem(20px);
}

.main {
  box-sizing: border-box;
}

.main__wrapper {
  grid-template-areas:
    "about ..."
    "nav ..."
    "info_firstpart ...";
}

.main__about-title {
  grid-area: about;
  grid-column: span 2;
  padding: 0;
  margin-top: rem(230px);
  margin-bottom: rem(50px);
  font-family: 'noto_sansbold', sans-serif;
  font-weight: bold;
  font-size: rem(45px);
  line-height: rem(65px);
  color: $header;
}

.main__navigation {
  grid-area: nav;
  grid-column: span 5;
  padding: 0;
}

.navigation__menu {
  display: flex;
  flex-basis: rem(359px);
  width: rem(359px);
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  margin-bottom: rem(80px);
  list-style-type: none;
}

.navigation__menu .menu__item .menu__itemlink {
  position: relative;
  font-family: 'noto_sanssemibold', sans-serif;
  color: $text-and-icons_dark;
  font-size: rem(18px);
  line-height: rem(24px);
  font-weight: 600;
  text-decoration: none;
}

.navigation__menu .menu__item .menu__itemlink:hover {
  color: $nav-and-titles_hover;
  text-decoration: none;
}

.itemlink__arrow {
  position: absolute;
  right: rem(-20px);
  bottom: rem(5px);
}

.menu__about .itemlink__arrow {
  right: rem(-16px);
}

.menu__news .itemlink__arrow {
  right: rem(-16px);
}

.section-about {
  grid-area: info_firstpart;
  grid-column: span 10;
  padding: 0;
}

.section-about__wrapper {
  grid-template-areas:
    "text_selection ..."
    "text_rebranding ..."
    "text_strategy ..."
    "slider ..."
    "dashboard ..."
    "text_changestrategy ..."
    "blockquote ..."
    "text_prize ...";
}

.text {
  padding-left: 0;
  font-family: 'noto_sanslight', sans-serif;
  font-size: rem(18px);
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: rem(25px);
  margin-bottom: rem(30px);
}

.text-selection {
  grid-area: text_selection;
  grid-column: span 8;
  margin-top: 0;
}

.text-rebranding {
  grid-area: text_rebranding;
  grid-column: span 8;
  padding-left: rem(20px);
  margin-top: 0;
  margin-bottom: rem(10px);
}

.text-rebranding__item {
  margin-bottom: rem(20px);
  padding-left: rem(17px);
  color: $marker;
}

.text-sociorebranding__item {
  padding-left: rem(18px);
}

.text-rebranding__content {
  color: $text-and-icons_dark;
}

.text-sociorebranding {
  margin: rem(20px) 0;
  list-style-type: disc;
  padding-left: rem(20px);
}

.text-strategy {
  grid-area: text_strategy;
  grid-column: span 8;
  margin-top: 0;
  margin-bottom: rem(50px);
}

.about-slider {
  grid-area: slider;
  grid-column: span 10;
  width: rem(820px);
  height: -moz-max-content;
}

.about-slider .slide__image {
  width: rem(820px);
  height: rem(500px);
  vertical-align: bottom;
}

.about-slider__pagination {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: rem(15px);
}

.about-slider__pagination > .swiper-pagination-bullet {
  opacity: 1;
  border: $controls-and-nav solid 1px;
  border-radius: 100%;
  display: inline-block;
  width: rem(7px);
  height: rem(7px);
  box-sizing: border-box;
}

.about-slider__pagination > .swiper-pagination-bullet-active {
  background-color: $controls-and-nav;
}

.dashboard {
  grid-area: dashboard;
  grid-column: span 10;
  display: flex;
  flex-basis: rem(820px);
  justify-content: space-between;
  padding-top: rem(20px);
  padding-left: 0;
  padding-right: 0;
}

.dashboard__position {
  flex-basis: rem(64px);
  font-family: 'noto_sanssemibold', sans-serif;
  font-size: rem(14px);
  line-height: rem(18px);
  margin-top: rem(1px);
}

.dashboard__slidecaption {
  flex-basis: rem(568px);
  font-family: 'noto_sanslight', sans-serif;
  font-size: rem(14px);
  line-height: rem(18px);
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: rem(4px);
}

.dashboard_navbuttons {
  flex-basis: rem(115px);
  text-align: end;
}

.dashboard__prevbutton,
.dashboard__nextbutton {
  width: rem(40px);
  height: rem(40px);
  border: none;
  border-radius: $radius;
  background: $controls-and-nav;
  font-size: rem(14px);
  line-height: rem(18px);
}

.prevbutton__icon,
.nextbutton__icon {
  position: absolute;
  top: rem(14px);
  right: rem(14px);
  bottom: rem(14px);
}

.prevbutton__icon {
  left: rem(12px);
}

.nextbutton__icon {
  left: rem(14px);
}

.text-aboutchangestrategy {
  grid-area: text_changestrategy;
  grid-column: span 8;
  margin: rem(70px) 0 rem(58px) 0;
}

.quote-block::before {
  display: block;
  content: ' ';
  background-image: url('../img/quote.svg');
  background-size: rem(12px) rem(15px);
  width: rem(22px);
  height: rem(15px);
  position: relative;
  top: rem(5px);
  left: rem(-44px);
}

.quote-block {
  grid-area: blockquote;
  grid-column: span 7;
  width: rem(531px);
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.quote-block__text {
  margin-top: 0;
  margin-bottom: rem(25px);
}

.quote-block__author {
  margin-bottom: 5px;
  font-family: 'noto_sanssemibold', sans-serif;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.quote-block__position {
  font-size: rem(14px);
  line-height: rem(18px);
  letter-spacing: -0.02em;
  display: block;
  margin-bottom: 0;
}

.text-prize {
  grid-area: text_prize;
  grid-column: span 8;
  margin: rem(50px) 0;
  padding: 0;
}

.advantages__wrapper {
  position: relative;
}

.advantages__foreground::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/img/advantages-fore.png);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.advantages__foreground.opened::before {
  background-image: url(/img/advantages-fore_opened.png);
}

.advantages__foreground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/img/advantages-back.jpg);
}

.advantages {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  margin: 0 0 rem(120px) 0;
  height: rem(720px);
  color: $text-and-icons_light;
  z-index: 3;
}

.advantage__items {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  text-align: center;
  transition: flex 0.8s ease;
  justify-content: flex-end;
  height: 100%;
  box-sizing: content-box;
}

.advantage__items:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.advantage__items:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.advantage__items.collapse:not(.open) {
  flex: 0;
  height: 100%;
}

.advantage__button {
  background: transparent;
  color: $text-and-icons_light;
  border: none;
  margin-bottom: rem(48px);
}

.advantage__title {
  margin-bottom: rem(10px);
  font-family: 'noto_sansregular', sans-serif;
  font-size: rem(14px);
  line-height: rem(25px);
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.advantage__subtitle {
  margin-bottom: rem(82px);
  font-family: 'noto_sansbold', sans-serif;
  font-size: rem(20px);
  line-height: rem(25px);
  text-align: center;
  letter-spacing: -0.01em;
  word-break: break-word;
}

.advantage__text {
  position: absolute;
  visibility: hidden;
  display: none;
  height: 0;
  max-height: rem(150px);
  margin: 0;
  letter-spacing: -0.01em;
  z-index: 1;
}

.advantage__items.animated {
  pointer-events: none;
}

/* При клике на плюс - разворачивание блока */
@keyframes expandBlock {
  0% {
    width: 25%;
    flex-grow: 0;
  }

  50% {
    flex-grow: 0;
  }

  100% {
    width: 85.34722222222222%;
    flex-grow: 0;
  }
}

.advantage__items.open-active {
  animation: expandBlock 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  flex-basis: auto;
}

/* Показываем кнопку */
@keyframes advantageButtonShow {
  0% {
    transform-origin: 50% 50%;
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.2;
  }

  75% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translate(0, rem(-575px)) rotate(45deg);
    margin: 0;
    opacity: 1;
  }
}

.advantage__items.open-active .advantage__button {
  animation: advantageButtonShow 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

/* Поднимаем заголовок */
@keyframes titleUp {
  0% {
    transform-origin: 10%;
  }

  100% {
    transform-origin: 10%;
    transform: translate(0, rem(-440px));
  }
}

.advantage__items.open-active .advantage__title {
  animation: titleUp 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

/* Поднимаем и плавно отображаем текст */
@keyframes fadeInAndUpText {
  0% {
    opacity: 0;
    transform-origin: 10%;
    transform: translateY(40px);
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transform-origin: 10%;
    transform: translate(0, rem(-225px));
  }
}

.advantage__items.open-active:not(.collapsed) .text.advantage__text {
  display: block;
  width: rem(280px);
  animation: fadeInAndUpText 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  align-self: center;
}

/* Поднимаем подзаголовок */
@keyframes subtitleUp {
  0% {
    transform-origin: 10%;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    transform-origin: 10%;
    transform: translate(0, rem(-410px));
  }
}

.advantage__items.open-active .advantage__subtitle {
  animation: subtitleUp 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

/*** При клике на плюс - остальные блоки сворачиваются ***/
@keyframes collapse {
  0% {
    color: inherit;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    color: transparent;
    opacity: 1;
    width: 0;
    height: 0;
  }
}

.advantage__items.collapse .advantage__button {
  margin-bottom: 0;
}

.advantage__items.collapse .advantage__subtitle,
.advantage__items.collapse .advantage__button .button__iconwrapper .advantagebutton__icon {
  animation: collapse 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.advantage__items.collapse .advantage__subtitle,
.advantage__items.collapse .advantage__text,
.advantage__items.collapse .advantage__button {
  display: none;
}

@keyframes collapsed {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: translateX(0) translateY(-300px) rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

.advantage__items.collapsed .advantage__title {
  animation: collapsed 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  width: max-content;
}

@keyframes collapsedBlock {
  0% {
    flex-grow: 0;
  }

  100% {
    flex-grow: 0;
  }
}

.advantage__items.collapsed:not(.open) {
  animation: collapsedBlock 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  width: 4.791666666666667%;
  justify-content: center;
  align-items: center;
  flex-basis: auto;
}

/* При клике на крест - сворачивание блока */

@keyframes returntoStartPositionBlock {
  0% {
    width: 85.34722222222222%;
    flex-grow: 1;
  }

  100% {
    width: 25%;
    flex-grow: 1;
  }
}

.advantage__items.close-active.expanded {
  animation: returntoStartPositionBlock 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  flex-basis: 0px;
}

@keyframes returnCollapsedBlockToStartPosition {
  0% {
    flex: 0;
  }

  100% {
    flex: 1;
    width: 25%;
  }
}

.advantage__items.collapsed-off {
  animation: returnCollapsedBlockToStartPosition 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

@keyframes returnCollapsedTitleToStartPosition {
  0% {
    transform: translateY(-300px) rotate(-90deg);
  }

  50% {
    transform: translateY(300px) rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.advantage__items.collapsed-off .advantage__title {
  animation: returnCollapsedTitleToStartPosition 5s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

@keyframes returnCollapsedSubTitleToStartPosition {
  0% {
    transform: translateY(-300px) rotate(-90deg);
    opacity: 0;
  }

  50% {
    transform: translateY(300px) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.advantage__items.collapsed-off .advantage__subtitle {
  animation: returnCollapsedSubTitleToStartPosition 5s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.advantage__items.open.open-active:not(.close-active) .advantage__subtitle {
  padding: 0 41%;
  margin: 0;
  height: rem(50px);
  text-align: center;
}

.advantage__items.open.open-active:not(.close-active) .advantage__title {
  margin-bottom: 0;
}

@keyframes returnCollapsedButtonToStartPosition {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.advantage__items.collapsed-off .advantage__button {
  animation: returnCollapsedButtonToStartPosition 5s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

/* Опускаем кнопку на прежнее место */
@keyframes advantageButtonDown {
  0% {
    transform: translate(0, rem(-550px)) rotate(45deg);
    margin: 0;
  }

  100% {
    transform-origin: 50% 50%;
  }
}

.advantage__items.expanded.open-active:not(.open) .advantage__button {
  animation: advantageButtonDown 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

@keyframes titleDown {
  0% {
    transform-origin: 10%;
    transform: translate(0, rem(-340px));
  }

  100% {
    transform-origin: 10%;
  }
}

.advantage__items.expanded.open-active:not(.open) .advantage__title {
  animation: titleDown 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAndDownText {
  0% {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transform-origin: 10%;
    transform: translate(0, rem(-222px));
  }

  100% {
    opacity: 0;
    transform-origin: 10%;
    transform: translateY(40px);
  }
}

.advantage__items.expanded.open-active:not(.open) .text.advantage__text {
  width: rem(280px);
  animation: fadeOutAndDownText 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  align-self: center;
}

@keyframes subtitleDown {
  0% {
    transform-origin: 10%;
    transform: translate(0, rem(-320px));
  }

  100% {
    transform-origin: 10%;
  }
}

.advantage__items.expanded.open-active:not(.open) .advantage__subtitle {
  animation: subtitleDown 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.advantages_mobile {
  width: 100%;
  text-align: center;
}

.advantages__pagination {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.advantages__pagination .swiper-pagination-bullet {
  opacity: 1;
  border: 1px solid white;
  border-radius: 100%;
  display: inline-block;
  width: rem(7px);
  height: rem(7px);
  margin: 0 rem(10px);
  box-sizing: border-box;
}

.advantages__pagination .swiper-pagination-bullet-active {
  background-color: white;
}

.section-news__wrapper {
  grid-template-areas:
    "title ... ..."
    "filters ... ..."
    "news ... ..."
    "... button ...";
}

.section-news__title {
  grid-area: title;
  grid-column: span 2;
  font-family: 'noto_sansbold', sans-serif;
  font-size: rem(35px);
  line-height: rem(50px);
  color: $header;
  margin-top: 0;
  margin-bottom: rem(30px);
}

.section-news__navigation {
  grid-area: filters;
  display: grid;
  grid-template-areas: "year month";
  grid-column: span 4;
  width: rem(378px);
  font-family: 'noto_sanssemibold', sans-serif;
  font-size: rem(18px);
  line-height: rem(25px);
}

.navigation__year {
  grid-area: year;
  grid-column: span 2;
}

.navigation__month {
  grid-area: month;
  grid-column: span 2;
}

.filter__year,
.filter__month,
.filter__field .filter__label,
.filter__field .filter__label + .md-menu .md-input {
  border: none;
  font-family: 'noto_sanssemibold', sans-serif;
  font-size: rem(18px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.filter__field .filter__label + .md-menu .md-input {
  position: relative;
  top: rem(-3px);
  line-height: normal;
}

.navigation__filter .filter__field {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  min-height: auto;
}

.filter__field.md-theme-default .filter__label {
  letter-spacing: -0.02em;
  top: 0;
  line-height: normal;
  color: $text-and-icons_dark;
}

.navigation__filter .filter__field:hover .filter__label {
  color: $nav-and-titles_hover;
}

.navigation__filter .filter__field.md-has-value .filter__label {
  display: none;
}

.filter__field.md-theme-default.md-highlight.md-focused .filter__label {
  color: $controls-and-nav;
}

.navigation__filter .filter__field.md-theme-default::before {
  background-color: transparent;
}

.navigation__filter .filter__field::after {
  height: 0;
}

.filter__year .md-icon,
.filter__month .md-icon {
  display: none;
}

.md-list-item.md-selected .md-list-item-text {
  color: $controls-and-nav;
}

.md-list-item:hover .md-list-item-text {
  color: $text-and-icons_light;
}

.filter__year {
  width: rem(110px);
  background: transparent url(/img/arrow-filter-menu.svg) no-repeat rem(82px) rem(10px);
}

.filter__year:hover {
  background: transparent url(/img/arrow-filter-menu_hover.svg) no-repeat rem(82px) rem(10px);
}

.filter__month {
  grid-area: month;
  grid-column: span 2;
  width: rem(150px);
  background: transparent url(/img/arrow-filter-menu.svg) no-repeat rem(110px) rem(10px);
}

.filter__month:hover {
  background: transparent url(/img/arrow-filter-menu_hover.svg) no-repeat rem(110px) rem(10px);
}

.filter__year:hover,
.filter__month:hover {
  color: $nav-and-titles_hover;
}

.filter-year__option:hover,
.filter-month__option:hover {
  background: $nav-and-titles_hover;
}

.filter__year:hover .filter-year__option,
.filter__month:hover .filter-month__option {
  color: $text-and-icons_dark;
}

.section-news {
  position: relative;
  z-index: 10;
}

.section-news__container {
  border-bottom: rem(1px) solid #01576c;
}

.section-news__news {
  display: grid;
  grid-area: news;
  grid-column: span 12;
  padding: rem(20px) 0 rem(20px) 0;
}

.section-news__row {
  $colamount: 3;

  @function calcnewsarticlesize() {
    @return ($currentWorkArea - ($colgap * ($colamount - 1))) / $colamount;
  }

  display: grid;
  column-gap: rem(20px);
  grid-template-columns: repeat($colamount, calcnewsarticlesize());
}

.section-news__row:last-child .row__line {
  display: none;
}

@keyframes fadeInNews {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.newsitem {
  margin: rem(40px) 0 rem(38px) 0;
  animation: fadeInNews 2s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.newsitem__link,
.newsitem .newsitem__link:hover {
  text-decoration: none;
}

.newsitem__title {
  margin: rem(15px) 0;
  font-family: 'noto_sanssemibold', sans-serif;
  font-size: rem(24px);
  line-height: rem(30px);
  font-feature-settings: 'cpsp' on, 'swsh' on, 'ss01' on;
  color: $header;
}

.newsitem__link:hover .newsitem__title {
  color: $nav-and-titles_hover;
}

.newsitem__image {
  border-radius: rem(10px);
  vertical-align: bottom;
}

.newsitem__text {
  margin: rem(15px) 0;
  font-size: rem(18px);
  font-weight: 300;
  line-height: rem(24px);
  letter-spacing: -0.02em;
  color: $text-and-icons_dark;
}

.newsitem__date {
  font-family: 'robotolight', sans-serif;
  font-size: rem(12px);
  line-height: rem(15px);
  letter-spacing: -0.01em;
  color: $text-and-icons_dark;
  opacity: 0.5;
}

.section-news__loadmore-button {
  padding: 12px 52px 13px 51px;
  margin: auto auto rem(100px) auto;
  grid-area: button;
  grid-column: 5 / span 4;
  background: $controls-and-nav;
  color: $text-and-icons_light;
  font-family: 'noto_sansregular', sans-serif;
  font-size: rem(18px);
  line-height: rem(25px);
  font-feature-settings: 'swsh' on, 'cpsp' on, 'ordn' on, 'salt' on, 'ss01' on;
  text-transform: lowercase;
  border: none;
  border-radius: $radius;
  width: rem(242px);
  height: rem(50px);
}

.section-news__loadmore-button:hover {
  background-color: $controls_hover;
}

.footer {
  padding: rem(60px) 0 rem(56px) 0;
  font-family: 'noto_sanslight', sans-serif;
  font-size: rem(18px);
  line-height: rem(24px);
  letter-spacing: -0.01em;
}

.footer__wrapper {
  grid-template-areas: "copyright ... creator";
}

.footer_about-sitecompany {
  grid-area: copyright;
  grid-column: span 3;
}

.footer__whocreate {
  grid-area: creator;
  grid-column: 10 / span 3;
  margin: 0;
  text-align: right;
}

.whocreate__company {
  font-family: 'noto_sanssemibold', sans-serif;
  font-style: normal;
  color: $controls-and-nav;
}

.whocreate__company:hover {
  cursor: pointer;
  color: $controls_hover;
}

@media (min-width: 1024px) and (max-width: 1439px) {

  $workArea1024: 940px;

  $currentWorkArea: $workArea1024;

  .container {
    max-width: $currentWorkArea;
  }

  .main__container {
    margin: 0 rem(42px);
  }

  .wrapper {
    grid-template-columns: repeat(12, colsize($currentWorkArea, $colgap, $colamount));
  }

  .header {
    padding: rem(30px) rem(42px);
  }

  .main__about-title {
    margin-top: rem(200px);
  }

  .menu__about .itemlink__arrow {
    right: rem(-16px);
  }

  .menu__news .itemlink__arrow {
    right: rem(-17px);
  }

  .text-rebranding {
    padding-left: rem(20px);
  }

  .text-rebranding__item {
    padding-left: rem(18px);
  }

  .about-slider {
    width: rem(780px);
  }

  .slide__image {
    width: rem(780px);
  }

  .quote-block {
    width: inherit;
    grid-column: span 9;
    padding-right: rem(117px);
  }

  .text-prize {
    width: inherit;
  }

  .advantages__foreground {
    background-image: url(/img/advantages-back1024.jpg);
  }

  .advantages__foreground::before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 46.88%, #000 115.14%);
    opacity: 0.25;
  }

  .section-news__navigation {
    width: rem(362px);
  }

  .section-news__row {
    $colamount: 3;

    @function calcnewsarticlesize() {
      @return ($currentWorkArea - ($colgap * ($colamount - 1))) / $colamount;
    }

    display: grid;
    column-gap: rem(20px);
    grid-template-columns: repeat($colamount, calcnewsarticlesize());
  }

  .footer {
    padding-bottom: rem(55px);
  }

  .footer__whocreate {
    grid-column: 9/span 4;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  $workArea768: 688px;

  $colgap: 29.75px;

  $colamount: 9;

  $currentWorkArea: $workArea768;

  .container {
    max-width: $currentWorkArea;
  }

  .main__container {
    margin: 0 rem(40px);
  }

  .wrapper {
    grid-template-columns: repeat($colamount, colsize($currentWorkArea, $colgap, $colamount));
    column-gap: 29.75px;
  }

  .header {
    padding: rem(30px) rem(40px);
  }

  .header__logo {
    left: 60px;
  }

  .main__about-title {
    margin-top: rem(200px);
    text-indent: rem(-3px);
  }

  .main__navigation {
    text-indent: rem(-2px);
  }

  .menu__item .itemlink__arrow {
    right: rem(-14px);
  }

  .text-selection {
    margin-left: rem(-2.5px);
  }

  .text-rebranding {
    padding-left: rem(16.5px);
  }

  .text-rebranding__item {
    padding-left: rem(19px);
  }

  .text-strategy {
    margin-left: rem(-2.5px);
  }

  .text-selection,
  .text-rebranding,
  .text-strategy,
  .about-slider,
  .text-aboutchangestrategy {
    grid-column: span 9;
  }

  .about-slider {
    width: rem(688px);
  }

  .dashboard__slidecaption {
    padding-right: rem(52px);
  }

  .quote-block {
    grid-column: span 8;
    width: 565px;
  }

  .text-prize {
    width: inherit;
    grid-column: span 9;
  }

  .advantages__foreground {
    background-image: url(/img/advantages-back768.jpg);
  }

  .advantages {
    flex-direction: column;
  }

  .advantage__item {
    margin: 0;
  }

  .advantage__items {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .advantage__items:not(:first-child) {
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  }

  .advantage__items.open {
    flex-direction: column;
  }

  .advantage__items.collapsed:not(.open) {
    min-height: 9.596662030598053%;
  }

  .advantage__items.open,
  .advantage__items.collapsed:not(.open) {
    width: 100%;
  }

  @keyframes expandBlock {
    0% {
      width: 100%;
      min-height: initial;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes advantageButtonShow {
    0% {
      transform: translateY(rem(-310px)) rotate(45deg);
      transform-origin: 50% 50%;
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    100% {
      transform: rotate(45deg);
      position: absolute;
      top: 9.84251968503937%;
      margin: 0;
      opacity: 1;
    }
  }

  @keyframes titleUp {
    0% {
      position: absolute;
      transform-origin: 10%;
      top: 0;
    }

    100% {
      transform-origin: 10%;
      position: absolute;
      top: 27.55905511811024%;
    }
  }

  @keyframes subtitleUp {
    0% {
      transform-origin: 10%;
      opacity: 0;
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0.75;
    }

    100% {
      transform-origin: 10%;
      position: absolute;
      top: 36.41732283464567%;
      opacity: 1;
    }
  }

  @keyframes fadeInAndUpText {
    0% {
      opacity: 0;
      transform-origin: 10%;
      transform: translateY(40px);
    }

    25% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0;
    }

    100% {
      opacity: 1;
      visibility: visible;
      height: 100%;
      transform-origin: 10%;
      top: 54.13385826771654%;
    }
  }

  @keyframes collapsed {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }

    100% {
      transform: rotate(0);
    }
  }

  @keyframes returntoStartPositionBlock {
    0% {
      width: 100%;
    }

    100% {
      width: 100%;
    }
  }

  @keyframes returnCollapsedBlockToStartPosition {
    0% {
      flex: 0;
    }

    100% {
      flex: 1;
      width: 100%;
    }
  }

  @keyframes returnCollapsedTitleToStartPosition {
    0% {
      transform: translateY(0) rotate(0deg);
    }

    50% {
      transform: translateY(0) rotate(0deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes returnCollapsedSubTitleToStartPosition {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }

    50% {
      transform: translateY(0) rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  @keyframes fadeOutAndDownText {
    0% {
      opacity: 0;
      visibility: hidden;
      height: 100%;
      transform-origin: 10%;
      transform: translate(0, 0);
    }

    100% {
      opacity: 0;
      transform-origin: 10%;
      transform: translateY(0);
    }
  }

  .advantage__title {
    order: 1;
    flex-basis: 35.67708333333333%;
  }

  .advantage__subtitle {
    order: 2;
    flex-basis: 43.48958333333333%;
    text-align: left;
  }

  .advantage__button {
    order: 3;
    flex-basis: 23.30729166666667%;
    padding: 0;
  }

  .advantage__items.open.open-active:not(.close-active) .advantage__subtitle {
    padding: 0 36%;
  }

  .section-news__news {
    grid-column: span 9;
  }

  .section-news__navigation {
    grid-column: span 5;
    width: rem(361px);
  }

  .section-news__row {
    $colamount: 2;

    grid-column: span 9;
    column-gap: 29.75px;

    @function calcnewsarticlesize() {
      @return ($currentWorkArea - ($colgap * ($colamount - 1))) / $colamount;
    }

    grid-template-columns: repeat($colamount, calcnewsarticlesize());
  }

  .section-news__loadmore-button {
    margin-left: rem(-95px);
  }

  .footer {
    padding-bottom: rem(58px);
  }

  .footer__whocreate {
    grid-column: 6/span 4;
  }
}

@media (max-width: 767px) {

  $workArea320: 290px;

  $currentWorkArea: $workArea320;

  $colamount: 1;

  $colgap: 0;

  .main__container,
  .section-news__container {
    margin: 0 rem(15px);
  }

  .header {
    padding: 15px;
  }

  .header__additional-buttons {
    flex-basis: auto;
  }

  .additional-buttons__language-button {
    display: none;
  }

  .wrapper {
    display: block;
  }

  .main__about-title {
    margin-top: rem(110px);
    margin-bottom: rem(30px);
    font-size: rem(30px);
    line-height: rem(40px);
  }

  .navigation__menu {
    flex-direction: column;
    margin-bottom: rem(52px);
    width: inherit;
  }

  .navigation__menu .menu__item .menu__itemlink {
    font-size: rem(16px);
    line-height: rem(22px);
  }

  .text {
    font-size: rem(16px);
    line-height: rem(22px);
  }

  .menu__about {
    margin-bottom: rem(20px);
  }

  .section-about {
    grid-column: span 1;
  }

  .text-selection,
  .text-rebranding,
  .text-strategy,
  .about-slider,
  .text-aboutchangestrategy,
  .section-news__loadmore-button {
    grid-column: span 1;
  }

  .text-strategy {
    margin-bottom: rem(40px);
  }

  .text-rebranding__item {
    padding-left: rem(10px);
  }

  .about-slider {
    width: 100%;
  }

  .about-slider .slide__image {
    height: auto;
  }

  .dashboard__position,
  .dashboard_navbuttons {
    display: none;
  }

  .dashboard__slidecaption {
    margin-bottom: rem(2px);
    text-align: center;
    min-height: rem(72px);
  }

  .text-aboutchangestrategy {
    margin: rem(60px) 0 rem(48px) 0;
  }

  .quote-block {
    margin-right: 0;
    margin-left: rem(38px);
  }

  .quote-block__text {
    margin-bottom: rem(20px);
  }

  .quote-block,
  .text-prize {
    grid-column: span 1;
    width: inherit;
  }

  .text-prize {
    margin-top: rem(40px);
  }

  .quote-block__position {
    font-size: rem(14px);
    line-height: rem(18px);
  }

  .advantages__foreground {
    background-image: url(/img/advantages-back320.jpg);
  }

  .advantages__foreground::before {
    background-image: url(/img/advantages-fore320.png);
  }

  .advantages {
    box-sizing: border-box;
    height: rem(417px);
    align-items: center;
    padding: rem(60px) rem(15px);
    margin-bottom: rem(80px);
  }

  .advantage__title {
    font-size: rem(14px);
    line-height: rem(25px);
  }

  .advantage__subtitle {
    margin-bottom: rem(40px);
    font-size: rem(20px);
    line-height: rem(25px);
  }

  .advantage__text {
    display: block;
    height: initial;
    position: relative;
    visibility: initial;
    margin-bottom: rem(80px);
    font-size: rem(16px);
    line-height: rem(22px);
  }

  .advantage__items,
  .advantage__items:not(:last-child) {
    flex: none;
    border: none;
  }

  .advantage__items:hover {
    background-color: transparent;
  }

  .advantage__views {
    order: 1;
  }

  .section-news__news {
    display: block;
  }

  .section-news__navigation {
    width: auto;
  }

  .section-news__title {
    font-size: rem(25px);
    line-height: rem(30px);
  }

  .filter__field .filter__label + .md-menu .md-input,
  .filter__field.md-theme-default .filter__label {
    font-size: rem(16px);
    line-height: rem(22px);
  }

  .filter__field .filter__label + .md-menu .md-input {
    position: relative;
    top: rem(-5px);
    line-height: normal;
  }

  .filter__year {
    background-position: rem(73px) rem(8px);
  }

  .filter__month {
    background-position: rem(97px) rem(8px);
  }

  .section-news__row {
    display: block;
  }

  .newsitem__title {
    font-size: rem(20px);
  }

  .newsitem {
    margin: rem(18px) 0 rem(20px) 0;
  }

  .section-news__loadmore-button {
    width: 100%;
  }

  .footer {
    padding: rem(30px) 0 rem(36px) 0;
  }

  .footer__wrapper {
    text-align: center;
  }

  .footer_about-sitecompany {
    margin-bottom: rem(30px);
  }
}
