@import "~swiper/swiper";

@function rem($size) {
  @return $size / $root-font-size * 1rem;
}

$root-font-size: 16px;

$padding: 15px*2;
$radius: rem(100px);

$text-and-icons_dark: #000;
$text-and-icons_light: #fff;
$header: #333;
$controls-and-nav: #ff6c6c;
$controls-and-nav_hover: rgba(255, 108, 108, 0.75);
$phone-back : #01576c;
$phone-back_hover : rgba(1, 87, 108, 0.75);
$language-back: #01576c;
$language-back_hover: #b3cdd3;
$marker: #01576c;

@font-face {
  font-family: 'noto_sansbold';
  src: url('../fonts/notosans-bold-webfont.woff2') format('woff2'), url('../fonts/notosans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sanslight';
  src: url('../fonts/notosans-light-webfont.woff2') format('woff2'), url('../fonts/notosans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sansregular';
  src: url('../fonts/notosans-regular-webfont.woff2') format('woff2'), url('../fonts/notosans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_sanssemibold';
  src: url('../fonts/notosans-semibold-webfont.woff2') format('woff2'), url('../fonts/notosans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: rem(988px);
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, rem(64px));
  column-gap: rem(20px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(40px);
  font-family: 'noto_sansbold', sans-serif;
  font-size: rem(22px);
  line-height: rem(24px);
}

.header__hamburger-button {
  position: relative;
  background: #ff6c6c;
  border: none;
  border-radius: rem(100px);
}

.header__logo {
  margin: 0;
}

.header__additional-buttons {
  display: flex;
  flex-basis: rem(150px);
  justify-content: space-between;
}

.header__hamburger-button,
.additional-buttons__language-button,
.additional-buttons__phone-button {
  width: rem(60px);
  height: rem(60px);
}

.additional-buttons__language-button {
  background: $language-back;
  opacity: 0.4;
  border: none;
  border-radius: rem(100px);
  color: $text-and-icons_light;
}

.additional-buttons__phone-button {
  position: relative;
  background: $phone-back;
  border: none;
  border-radius: rem(100px);
}

.phone-button__icon {
  position: absolute;
  left: rem(20px);
  right: rem(20px);
  top: rem(20px);
  bottom: rem(20px);
}

main {
  margin-top: rem(90px);
}

.main__wrapper {
  grid-template-areas:
    "about ..."
    "nav ..."
    "info_firstpart ...";
}

.main__about-title {
  grid-area: about;
  grid-column: span 2;
  padding: 0;
  margin-bottom: rem(50px);
  font-family: 'noto_sansbold', sans-serif;
  font-weight: bold;
  font-size: rem(45px);
  line-height: rem(65px);
  color: $header;
}

.main__navigation {
  grid-area: nav;
  grid-column: span 5;
  padding: 0;
}

.navigation__menu {
  display: flex;
  flex-basis: rem(326px);
  width: rem(375px);
  justify-content: space-between;
  padding: 0;
  margin-bottom: rem(80px);
  list-style-type: none;
}

.menu__itemlink {
  position: relative;
  font-family: 'noto_sanssemibold', sans-serif;
  color: $text-and-icons_dark;
  font-size: rem(18px);
  line-height: rem(24px);
}

.itemlink__arrow {
  position: absolute;
  right: rem(-20px);
  bottom: rem(5px);
}

.section-about {
  grid-area: info_firstpart;
  grid-column: span 10;
  padding: 0;
}

.section-about__wrapper {
  grid-template-areas:
    "text_selection ..."
    "text_rebranding ..."
    "text_strategy ..."
    "slider ..."
    "dashboard ..."
    "text_changestrategy ..."
    "blockquote ..."
    "text_prize ...";
}

.text-selection {
  grid-area: text_selection;
  grid-column: span 8;
}

.text-rebranding {
  grid-area: text_rebranding;
  grid-column: span 8;
  padding-left: rem(18px);
}

.text {
  padding-left: 0;
  font-family: 'noto_sanslight', sans-serif;
  font-size: rem(18px);
  letter-spacing: -0.01em;
  line-height: rem(25px);
  margin-bottom: rem(30px);
}

.text-rebranding__item {
  margin-bottom: rem(20px);
  padding-left: rem(30px);
}

.text-rebranding__item::marker {
  color: $marker;
}

.text-sociorebranding {
  margin: rem(20px) 0;
  list-style-type: disc;
  padding-left: rem(25px);
}

.text-strategy {
  grid-area: text_strategy;
  grid-column: span 8;
  width: rem(652px);
  margin-bottom: rem(50px);
}

.about-slider {
  grid-area: slider;
  grid-column: span 10;
  width: rem(820px);
}

.slide__image {
  width: rem(820px);
  height: auto;
}

.dashboard {
  grid-area: dashboard;
  grid-column: span 10;
  display: flex;
  flex-basis: rem(820px);
  justify-content: space-between;
  padding-top: rem(20px);
  padding-left: 0;
  padding-right: 0;
}

.dashboard__position {
  flex-basis: rem(64px);
}

.dashboard__slidecaption {
  flex-basis: rem(568px);
}

.dashboard__prevbutton,
.dashboard__nextbutton {
  width: rem(40px);
  height: rem(40px);
  border: none;
  border-radius: $radius;
  background: $controls-and-nav;
}

.text-aboutchangestrategy {
  grid-area: text_changestrategy;
  grid-column: span 8;
  width: rem(652px);
  margin: rem(70px) 0 rem(58px) 0;
}

.quote-block {
  grid-area: blockquote;
  grid-column: span 7;
  width: rem(531px);
  padding: 0;
}

.quote-block__author {
  margin-bottom: 5px;
  font-family: 'noto_sanssemibold', sans-serif;
}

.quote-block__position {
  font-size: rem(14px);
}

.text-prize {
  grid-area: text_prize;
  grid-column: span 8;
  width: rem(852px);
  margin: rem(50px) 0;
  padding: 0;
}

.advantages {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: rem(50px) 0 rem(120px) 0;
  height: rem(720px);
  background: url(/img/advantages-back.jpg);
  background-size: cover;
  color: $text-and-icons_light;
}

@keyframes advantageButtonUp {
  0% {
    transform-origin: 10%;
  }

  100% {
    transform-origin: 10%;
    transform: translate(0, rem(-550px));
    margin: 0;
  }
}

.advantage__button {
  margin-bottom: rem(48px);
}

.advantages__item.open-active .advantage__button {
  animation: advantageButtonUp 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.advantages__item {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: flex 0.8s ease;
}

.advantage__title {
  margin-bottom: rem(10px);
  font-family: 'noto_sansregular', sans-serif;
  font-size: rem(14px);
  line-height: rem(25px);
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@keyframes titleUp {
  0% {
    transform-origin: 10%;
  }

  100% {
    transform-origin: 10%;
    transform: translate(0, rem(-340px));
  }
}

.advantages__item.open-active .advantage__title {
  animation: titleUp 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

.advantage__subtitle {
  font-family: 'noto_sanssemibold', sans-serif;
  font-size: rem(20px);
  line-height: rem(25px);
  text-align: center;
  letter-spacing: -0.01em;
}

.advantages__item.open {
  flex: 5;
  font-size: 40px;
}

@keyframes fadeInAndUpText {
  0% {
    opacity: 0;
    transform-origin: 10%;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    height: 100%;
    transform-origin: 10%;
    transform: translate(0, rem(-222px));
  }
}

.advantage__text {
  position: absolute;
  visibility: hidden;
  height: 0;
  margin: 0;
}

.advantages__item.open-active .text.advantage__text {
  width: rem(280px);
  animation: fadeInAndUpText 4s ease 0s 1 normal none;
  animation-fill-mode: forwards;
  align-self: center;
}

@keyframes subtitleUp {
  0% {
    transform-origin: 10%;
  }

  100% {
    transform-origin: 10%;
    transform: translate(0, rem(-320px));
  }
}

.advantages__item.open-active .advantage__subtitle {
  animation: subtitleUp 3s ease 0s 1 normal none;
  animation-fill-mode: forwards;
}

@keyframes activeCollapse {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -100%);
  }
}

.advantages__item.collapsed.collapsed-active {
  animation-name: activeCollapse;
  transform-origin: 0% 0%;
  transition: flex 0.8s ease;
}

.section-news__wrapper {
  grid-template-areas:
    "title ... ..."
    "filters ... ..."
    "news ... ..."
    "... button ...";
}

.section-news__title {
  grid-area: title;
  grid-column: span 2;
  text-indent: rem(-2px);
  font-weight: bold;
  font-size: rem(35px);
  line-height: rem(50px);
}

.section-news__navigation {
  grid-area: filters;
  grid-column: span 4;
}

.filter {
  display: inline;
}

.filter-year,
.filter-month {
  margin-left: rem(-2px);
  border: none;
  text-indent: rem(1px);
  text-overflow: '';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-year {
  width: rem(110px);
  background: transparent url(/img/arrow-menu.svg) no-repeat rem(70px) center;
}

.filter-month {
  width: rem(150px);
  background: transparent url(/img/arrow-menu.svg) no-repeat rem(90px) center;
}

.section-news__news {
  display: grid;
  grid-template-columns: repeat(3, rem(316px));
  column-gap: rem(20px);
  grid-area: news;
  grid-column: span 12;
}

.section-news__loadmore-button {
  grid-area: button;
  grid-column: 5 / span 4;
}

@media (max-width: 1024px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 688px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 290px;
  }
}
